.navbar {
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

.navbar-brand {
  font-weight: bold;
  color: var(--primary-color);
}

.nav-link {
  color: var(--text-color);
  
  &:hover {
    color: var(--primary-color);
  }
}

.active {
  font-weight: bold;
  color: var(--primary-color) !important;
  border-bottom: 2px solid var(--primary-color);
}

.navbar-toggler {
  border-color: var(--border-color);
  
  &:focus {
    box-shadow: none;
  }
}

.navbar-text {
  color: var(--text-color);
}